body{
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  background-color: rgb(189, 189, 189);
}

.card{
  background-color: rgb(77, 77, 77);
  border: 1px solid black;
  height: 100%;
  margin: 10px 10px;
}

#body{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}